<% layout('layouts/boilerplate') %> 
<h2>All Campgrounds</h2>
<br>
<ul>
    <% for( let camp of camps ){ %>
        <div>
            <li>
                <a href="campgrounds/<%= camp._id %> ">
                    <h3>
                        <%= camp.title %>
                    </h3>
                    <%= camp.price %>
                        <%= camp.location %>
                            <%= camp.description %>
                </a>
            </li>
        </div>
        <% } %>
</ul>